body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--Softviolet);
  background: linear-gradient(
    180deg,
    var(--Softviolet) 0%,
    var(--Softblue) 90%
  );
  font-family: 'Kumbh Sans', sans-serif;
}

body,
.container {
  display: flex;
}

.container {
  background-color: #ffffff;
  width: 83.6rem;
  height: 46.2rem;
  border-radius: 2rem;
  position: relative;
}

.left {
  background: right -10% top 48% no-repeat url(../images/illustration-woman-online-desktop.svg), right -1% top 62% no-repeat url(../images/bg-pattern-desktop.svg);
  width: 47.8rem;
  background-size: 43rem, auto;
}

.left .box {
  width: 17.2rem;
  position: absolute;
  left: -9rem;
  bottom: 11rem;
}

.right {
    width: 58rem;
    padding: 5.7rem 10rem 0 7rem;
}

.right .title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.4rem;
}

.right .acordeon-show{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected{
    color: hsl(0, 0%, 0%);
}

.right .acordeon-title {
    font-size: 1.2rem;
    word-spacing: 0.14rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    color: hsl(237, 12%, 33%);
}

.right .acordeon-title:hover{
    color: hsl(14, 88%, 65%);
}

.right .paragrafh{
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem 0;
    color: hsl(240, 6%, 50%);
}

.right .line{
    width: 100%;
    height: 1px;
    background-color: hsla(237, 12%, 33%, 0.298);
    margin: 1.5rem 0;
}

.hide {
    display: none;
}
